.nav{
    background-color: black;
    height: 70px;
    justify-content: right;
    
}
.nav ul li{
    list-style: none;
    display: inline-block;
margin-top: 20px;
}
.nav ul li a{
    text-decoration: none;
    color: white;
    margin: 20px;

}
.nav ul li a:hover{
    transition: 1s;
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 10px;
}
.homebtns{
    width: 400px;
    height: 250px;
    background-color:transparent;
    border-style:hidden;
    border-radius: 20px; 
    padding: 10px;  
    margin: 10%;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.266);
}